.cut-details{
    .single-cut{
        margin-right: 50px;
        padding-right: 50px;
        @media #{$xs}{
            margin-right: 15px;
            padding-right: 15px;
        }
        .cut-descriptions{
            p{
                color: #fff;
                margin-bottom: 20px;
                padding-bottom: 30px;
                border-bottom: 1px solid #fff;
            }
            span{
                color: #d19f68;
                font-size: 12px;
            }
        }
    }
    /*  dots Style */
    .dot-style{
        .slick-dots{
            text-align: center;
            bottom: -105px;
            position: relative;
            @media #{$md}{
                bottom: -50px;
            }
            @media #{$sm}{
                bottom: -30px;
            }
            @media #{$xs}{
                bottom: -40px;
            }
            li {
                display: inline-block;
                button {
                    text-indent: -999999px;
                    padding: 0px;
                    height: 5px;
                    width: 20px;
                    margin: 0px 4px;
                    border: 0;
                    background: #bfbfbf;
                    transition: .3s;
                    cursor: pointer;
                }
            }
            li.slick-active button {
                background: #d19f68;
                width: 35px;
            }
        }
    }
}